.movie{
    position: absolute;
    top: 1.5rem;
    right: 1rem;



    &--search{
        position: absolute;
        left: .1rem;
        top: .7rem;

        &__relative{
            position: relative;
        }

        input{
            padding: 1rem;
            border-radius: 2rem;
            font-size: 1.5rem;
            border: 5px solid $black;
            outline: none;

            &:focus{
                border: 5px solid $orange-300;
            }
        }


        &__remove{
            position: absolute;
            cursor: pointer;
            top: 50%;
            right: 1rem;
            font-size: 1.5rem;
            transform: translate(-10%,-50%);
            border-radius: 50%;
            padding: .1rem .5rem;
        }
    }

    &__dropDown{
        position: absolute;
        background-color: $white;
        top: 4rem;
        left: 0rem;
        z-index: 1;
        padding: .5rem;
        height: 20rem;
        overflow: scroll;

        &__item{
            margin: .2rem 0;
            cursor: pointer;
            font-size: 1.5rem;
            transition: all 105ms ease;
            
            &:hover{
                background-color: $grey-100;
            }
        }
    }


    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8rem 4rem;
        overflow: hidden;
        padding: 1rem;
        position: relative;

        &__fotter{
            text-align: center;
        }
    }

    &__card{
        text-decoration: none;
        border: 1px solid $black;
        background-color: $black;
        color: $white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        min-height: 40rem;
        cursor: pointer;
        transition: all 250ms ease;
        
        &:hover{
            transform: scale(1.1);
        }

        &__poster{
            border-top-left-radius: 5rem;
            border-top-right-radius: 5rem;
            border: 1px solid $white;
            border-bottom: .5rem double $white;
        }
    }
}