*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    background-image: radial-gradient(circle, #000000, #0d0c0c, #161514, #1c1c1a, #222321);
}

$black:rgb(27, 27, 27);
$white:white;

$orange-300: rgb(233, 166, 78);
$orange-500: rgb(240, 136, 0);
$green-300: rgb(9, 199, 9);
$green-500: green;
$blue-500: rgb(136, 175, 233);
$blue-300: #c2ddf0;
$purple-300: rgb(170, 80, 206);
$purple-500: rgb(164, 5, 226);
$yellow-300: rgb(245, 221, 113);
$yellow-500: rgb(255, 207, 0);
$red-300: rgb(252 88 88);
$red-500: rgb(216, 21, 21);
$red-700: rgb(184, 0, 0);
$grey-500: rgba(128, 128, 128, 0.637);
$grey-100:rgb(173, 173, 173);
