*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    background-image: radial-gradient(circle, #000000, #0d0c0c, #161514, #1c1c1a, #222321);
}

$black:rgb(27, 27, 27);
$white:white;